[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ktsitsikas
[access "refs/for/refs/*"]
	read = group user/ktsitsikas
	push = group user/ktsitsikas
	label-Code-Review = -2..+2 group user/ktsitsikas
	label-Verified = -1..+1 group user/ktsitsikas
	rebase = group user/ktsitsikas
	removeReviewer = group user/ktsitsikas
	submit = group user/ktsitsikas
[access "refs/heads/*"]
	read = group user/ktsitsikas
	create = group user/ktsitsikas
	push = +force group user/ktsitsikas
	pushMerge = group user/ktsitsikas
[access "refs/tags/*"]
	push = +force group user/ktsitsikas
	pushTag = group user/ktsitsikas
	pushSignedTag = group user/ktsitsikas
